/* body {
    color:royalblue;
}

h1 {
    color:gray;
}

h2 {
    color:burlywood
}

#lib-header {
    color:lightcoral;
}

.para {
    color:rebeccapurple;
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #79decf;
    --secondary-color: #6B7280;
    --off-white: #F3F4F6;
}

/* body {
    padding-left: 10rem;
    padding-right: 10rem;

    OR we can do

     max-width: 600px;
     margin: auto;
} */

hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#lib-header {
    font-family: 'Bebas Neue', cursive;
}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}



.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

/* look into BEN naming convention in CSS */

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    color: white;
}

.nav-brand {
    padding: 0rem 0.5rem;
    font-weight: bold;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
    font-size: large
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--secondary-color);
    text-align: center;

}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color)
}

/* section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white)
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    -webkit-padding-start: 0rem;
}
