/* body {
    color:royalblue;
}

h1 {
    color:gray;
}

h2 {
    color:burlywood
}

#lib-header {
    color:lightcoral;
}

.para {
    color:rebeccapurple;
} */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#lib-header {
    font-family: 'Bebas Neue', cursive;
}